@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
@import "variables";

$background: #fafafa;
$tellor-grey1: #f2f2f2;
$tellor-grey2: #f0f0f0;
$darkestgrey: #555555;
$tellor-green: #2dfc9f;

/* gradient mixins */
@mixin greenshine {
  background: $tellor-green;
  background: linear-gradient(90deg, #2dfc9f 0%, #00fb89 100%);
}

/* font mixins */
@mixin tenpxfont {
  font-size: 0.625rem !important;
  line-height: 0.85rem !important;
}

@mixin twelvepxfont {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

@mixin fourteenpxfont {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

@mixin sixteenpxfont {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

@mixin eighteenpxfont {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

/* general mixins */
@mixin centeredrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin leftrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin leftcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin rightrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin rightcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

body {
  background-color: $background;
  color: black;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 1em;
}

p {
  @include twelvepxfont;
}

h3,
h4 {
  font-weight: 100;
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
  color: $darkestgrey;
}
h2 {
  font-weight: 600;
}
h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

/* general classes */
.fader {
  animation: 1s ease-out fadeIn infinite;
}

.flexer {
  flex: 1;
}

.bold {
  font-weight: bold;
}

.green {
  color: $tellor-green;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

// Specific Elements

// Joshua Samaniego
// Styles for App.js
.App__Container {
  @include centeredcolumn();
  width: 92%;
  margin: 0 auto;
  margin-top: 3%;
}
// Styles for Header.js
.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 103%;
  margin-bottom: 3%;
}

.Available__Bounties {
  @include centeredrow();
  color: $darkestgrey;
  div {
    margin-right: 20px;
  }
}

//Styles for Welcome.js
.Welcome {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Welcome__Message {
  margin: 2% auto;
  padding: 20px;
  letter-spacing: 1.2px;
}
.Welcome__Rows {
  @include centeredrow();
  padding-bottom: 2%;

  img {
    width: 80px;
    flex: 0.05;
  }
  h3 {
    font-weight: 600;
    margin: 0% 3%;
    flex: 0.15;
  }
  p {
    @include sixteenpxfont();
    font-weight: 300;
    flex: 0.8;
  }
}

//Styles for Table Components
.Table__Container__Top {
  @include leftcolumn();
  padding: 2% 2% 0 2%;
  border: 2px solid $tellor-grey2;
  margin: 5% 0 2% 0;
}
.Table__Container__Middle {
  @include leftcolumn();
  padding: 2% 2% 0 2%;
  border: 2px solid $tellor-grey2;
  margin: 3% 0 2% 0;
}
.Table__Container__Bottom {
  @include leftcolumn();
  padding: 2% 2% 0 2%;
  border: 2px solid $tellor-grey2;
  margin: 3% 0 5% 0;
}

//Styles for Footer.js
.Footer {
  @include leftrow;
  background: url("../assets/bg_grey.png");
  padding: 100px 10vw 140px 10vw;

  @media (max-width: 600px) {
    @include leftcolumn;
    padding: 80px 10vw 120px 10vw;
  }

  p {
    @include sixteenpxfont;
    color: #999;
    margin: 10px 0 40px 0;
  }

  div:first-child {
    @include leftcolumn;
    flex: 1;

    a:first-child svg {
      width: 57px;
      margin: 0 0 6px 0;
    }

    a:nth-child(2) svg {
      height: 55px;
      margin: 6px 0 0 0;
    }
  }

  div:nth-child(2) {
    @include rightcolumn;

    @media (max-width: 600px) {
      @include leftcolumn;
    }

    p {
      @include sixteenpxfont;
      color: #555;
      margin: 0 0 16px 0;
    }

    a {
      @include sixteenpxfont;
      color: #999;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

/* Joshua Samaniego */
.Left__Column {
  svg:nth-child(1) {
    width: 57px;
    margin: 0 0 6px 0;
  }
  svg:nth-child(2) {
    height: 55px;
    margin: 6px 0 0 0;
    margin-left: -14px;
  }
}

@keyframes circleanim {
  0% {
    stroke-dashoffset: 250;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -250;
  }
}

@keyframes loaderanim {
  0% {
    stroke-dashoffset: 84;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -84;
  }
}

@keyframes loadinganim {
  0% {
    stroke-dashoffset: -8;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 8;
  }
}

@keyframes connectedanim {
  0% {
    stroke-dashoffset: -4;
  }

  50% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 4;
  }
}

// --- Ant Overrides ---

// Buttons
.ant-btn {
  @include sixteenpxfont;
  @include greenshine;
  color: $darkestgrey;
  box-sizing: border-box;
  padding: 14px 40px 18px 40px;
  height: 50px;
  transition: all 0.025s linear;

  @media (max-width: 965px) {
    padding: 12px 30px;
    height: 40px;
    @include fourteenpxfont;
  }

  width: auto;
  border: none;
  border-radius: 25px;
  font-weight: bold;

  &:disabled {
    @include greenshine;

    span {
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus {
    color: $darkestgrey;
    @include greenshine;
    border: none;
    outline: none;
  }

  &:active {
    transform: scale(0.995);
  }
}
// Table
.ant-table-wrapper {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 300;
}
.ant-table {
  @include eighteenpxfont();
  margin: 2%;
  width: 100%;
}
.ant-table-content {
  padding: 2%;
}
.ant-table-thead {
  background: $tellor-grey1;
}
.ant-table-tbody > tr > td {
  width: 280px;
  padding: 10px 0px;
  text-align: center;
}
.ant-table-tbody > tr > td > p {
  text-align: center !important;
  @include leftrow();
  @include sixteenpxfont();
  padding: 1% 0 1% 10%;
  background: $tellor-grey1;
}
.ant-table-row-expand-icon-cell {
  width: 50px !important;
}

.ant-pagination {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ant-pagination-prev {
  padding: 0 2%;
}
.ant-pagination-item {
  padding-right: 2%;
}
